{
  "openapi": "3.0.1",
  "info": {
    "title": "Klippa DocHorizon",
    "description": "This is the documentation of the Klippa DocHorizon REST API.",
    "version": "v1.5.3-2ea80b6d"
  },
  "servers": [
    {
      "url": "https://dochorizon.klippa.com",
      "description": "Klippa DocHorizon Platform API Production"
    }
  ],
  "paths": {
    "/api/services/auth/v1/info": {
      "get": {
        "tags": [
          "Auth API"
        ],
        "summary": "Info about used key",
        "description": "Returns information about the currently used key. Useful for testing an API key and checking it's capabilities.",
        "operationId": "auth-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthAuthInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/enabled_models": {
      "get": {
        "tags": [
          "Document Capturing API"
        ],
        "summary": "List enabled models",
        "description": "This endpoint allows the user to list the available models for document capturing.",
        "operationId": "document-capturing-list-enabled-models",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document_capturingListEnabledModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/financial": {
      "post": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "Capture financial document",
        "description": "This endpoint allows the user to submit a document to be captured with the financial model.",
        "operationId": "document-capturing-financial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Capturing-FinancialInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/financial/async": {
      "get": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "Get a list of jobs from the financial document capturer",
        "description": "This endpoint returns a list of jobs. It returns when a job was created, what the current status is and the ID of said job. For the filtering on status the following values can be used (both on their own or in parameter array): in_queue, processing, hitl, done, error, closed and rejected.",
        "operationId": "document-capturing-financial-async-job-list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter will set the maximum amount of items returned in a request.",
            "schema": {
              "type": "integer",
              "description": "This parameter will set the maximum amount of items returned in a request.",
              "format": "int32",
              "default": 25,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
            "schema": {
              "type": "integer",
              "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "With this parameter you can filter based on the current status of a job and get all results with that filter.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "in_queue",
                  "processing",
                  "hitl",
                  "done",
                  "error",
                  "closed",
                  "rejected"
                ]
              },
              "description": "With this parameter you can filter based on the current status of a job and get all results with that filter."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobListResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "Capture financial document asynchronously",
        "description": "This endpoint allows the user to submit a document to be captured with the financial model to process them asynchronously. It will return a ID that is linked to a job. This ID is what we will use in other requests to identify your documents with. The webhooks are optional to use, so if you do not want to use them you do not have to include that portion of the request.",
        "operationId": "document-capturing-financial-async",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Capturing-Financial-AsyncInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobIDResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/financial/async/{job_id}": {
      "get": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "Get status of the financial document capture async job",
        "description": "This endpoint gives back the current status of the financial document capture async job.",
        "operationId": "document-capturing-financial-async-job-status",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "Remove or cancel the financial document capture async job",
        "description": "This endpoint deletes the financial document capture async job results and other related documents from our servers. It will also cancel the job if it still needs to be processed and is waiting in the queue",
        "operationId": "document-capturing-financial-async-job-delete",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccess"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/financial/async/{job_id}/logs": {
      "get": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "Get logs of the financial document capture async job",
        "description": "This endpoint will return a list of logs we gathered from the financial document capture async job. It will mostly contain status changes and information on errors to debug on the client side or to be passed along to support",
        "operationId": "document-capturing-financial-async-job-logs",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter will set the maximum amount of items returned in a request.",
            "schema": {
              "type": "integer",
              "description": "This parameter will set the maximum amount of items returned in a request.",
              "format": "int32",
              "default": 25,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
            "schema": {
              "type": "integer",
              "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobLogResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/financial/async/{job_id}/result": {
      "get": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "Get results of the financial document capture async job",
        "description": "This endpoint returns the results of the financial document capture async job.",
        "operationId": "document-capturing-financial-async-job-result",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/financial/presets": {
      "get": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "List document capturing presets for the finance model",
        "description": "This endpoint allows the user to list the available presets for the financial model.",
        "operationId": "document-capturing-financial-list-presets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document_capturingListPresetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/financial/schema": {
      "get": {
        "tags": [
          "Financial Document Capturing API"
        ],
        "summary": "Get the JSON schema of the financial model",
        "description": "Get the JSON schema of the financial model.",
        "operationId": "document-capturing-financial-schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document_capturingSchemaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/generic": {
      "post": {
        "tags": [
          "Generic Document Capturing API"
        ],
        "summary": "Capture generic document",
        "description": "This endpoint allows the user to submit a document to be captured with the generic model. This endpoint turns a document into generic structured data. We extract key-value pairs and tables. The output is in JSON.",
        "operationId": "document-capturing-generic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Capturing-GenericInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/generic/async": {
      "get": {
        "tags": [
          "Generic Document Capturing API"
        ],
        "summary": "Get a list of jobs from the generic document capturer",
        "description": "This endpoint returns a list of jobs. It returns when a job was created, what the current status is and the ID of said job. For the filtering on status the following values can be used (both on their own or in parameter array): in_queue, processing, hitl, done, error, closed and rejected.",
        "operationId": "document-capturing-generic-async-job-list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter will set the maximum amount of items returned in a request.",
            "schema": {
              "type": "integer",
              "description": "This parameter will set the maximum amount of items returned in a request.",
              "format": "int32",
              "default": 25,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
            "schema": {
              "type": "integer",
              "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "With this parameter you can filter based on the current status of a job and get all results with that filter.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "in_queue",
                  "processing",
                  "hitl",
                  "done",
                  "error",
                  "closed",
                  "rejected"
                ]
              },
              "description": "With this parameter you can filter based on the current status of a job and get all results with that filter."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobListResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Generic Document Capturing API"
        ],
        "summary": "Capture generic document asynchronously",
        "description": "This endpoint allows the user to submit a document to be captured with the generic model to process them asynchronously. It will return a ID that is linked to a job. This ID is what we will use in other requests to identify your documents with. The webhooks are optional to use, so if you do not want to use them you do not have to include that portion of the request.",
        "operationId": "document-capturing-generic-async",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Capturing-Generic-AsyncInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobIDResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/generic/async/{job_id}": {
      "get": {
        "tags": [
          "Generic Document Capturing API"
        ],
        "summary": "Get status of the generic document capture async job",
        "description": "This endpoint gives back the current status of the generic document capture async job.",
        "operationId": "document-capturing-generic-async-job-status",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Generic Document Capturing API"
        ],
        "summary": "Remove or cancel the generic document capture async job",
        "description": "This endpoint deletes the generic document capture async job results and other related documents from our servers. It will also cancel the job if it still needs to be processed and is waiting in the queue",
        "operationId": "document-capturing-generic-async-job-delete",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccess"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/generic/async/{job_id}/logs": {
      "get": {
        "tags": [
          "Generic Document Capturing API"
        ],
        "summary": "Get logs of the generic document capture async job",
        "description": "This endpoint will return a list of logs we gathered from the generic document capture async job. It will mostly contain status changes and information on errors to debug on the client side or to be passed along to support",
        "operationId": "document-capturing-generic-async-job-logs",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter will set the maximum amount of items returned in a request.",
            "schema": {
              "type": "integer",
              "description": "This parameter will set the maximum amount of items returned in a request.",
              "format": "int32",
              "default": 25,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
            "schema": {
              "type": "integer",
              "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobLogResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/generic/async/{job_id}/result": {
      "get": {
        "tags": [
          "Generic Document Capturing API"
        ],
        "summary": "Get results of the generic document capture async job",
        "description": "This endpoint returns the results of the generic document capture async job.",
        "operationId": "document-capturing-generic-async-job-result",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/generic/xlsx": {
      "post": {
        "tags": [
          "Generic Document Capturing API"
        ],
        "summary": "Capture generic document (XLSX output)",
        "description": "This endpoint allows the user to submit a document to be captured with the generic model. This endpoint turns a document into generic structured data. We extract key-value pairs and tables. The output is an XLSX file.",
        "operationId": "document-capturing-generic-xlsx",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Capturing-Generic-XlsxInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generic_captureXLSXResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/prompt_builder/configurations": {
      "get": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "List the available prompt builder configurations",
        "description": "List the available prompt builder configurations.",
        "operationId": "document-capturing-prompt-builder-configurations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt_builder_captureConfigurationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/prompt_builder/configurations/{slug}": {
      "post": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "Capture with a prompt builder configuration",
        "description": "Capture documents with the given slug on a prompt builder configuration.",
        "operationId": "document-capturing-prompt-builder-configuration-capture",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the prompt builder configuration.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The slug of the prompt builder configuration."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Capturing-Prompt-Builder-Configuration-CaptureInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt_builderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/prompt_builder/configurations/{slug}/async": {
      "get": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "Get a list of jobs from the prompt-builder-configuration document capturer",
        "description": "This endpoint returns a list of jobs. It returns when a job was created, what the current status is and the ID of said job. For the filtering on status the following values can be used (both on their own or in parameter array): in_queue, processing, hitl, done, error, closed and rejected.",
        "operationId": "document-capturing-prompt-builder-configuration-async-job-list",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the prompt builder configuration.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The slug of the prompt builder configuration."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter will set the maximum amount of items returned in a request.",
            "schema": {
              "type": "integer",
              "description": "This parameter will set the maximum amount of items returned in a request.",
              "format": "int32",
              "default": 25,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
            "schema": {
              "type": "integer",
              "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "With this parameter you can filter based on the current status of a job and get all results with that filter.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "in_queue",
                  "processing",
                  "hitl",
                  "done",
                  "error",
                  "closed",
                  "rejected"
                ]
              },
              "description": "With this parameter you can filter based on the current status of a job and get all results with that filter."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobListResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "Capture prompt builder configuration document asynchronously",
        "description": "This endpoint allows the user to submit a document to be captured with the prompt builder configuration model to process them asynchronously. It will return a ID that is linked to a job. This ID is what we will use in other requests to identify your documents with. The webhooks are optional to use, so if you do not want to use them you do not have to include that portion of the request.",
        "operationId": "document-capturing-prompt-builder-configuration-async",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the prompt builder configuration.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The slug of the prompt builder configuration."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Capturing-Prompt-Builder-Configuration-AsyncInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobIDResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/prompt_builder/configurations/{slug}/async/{job_id}": {
      "get": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "Get status of the prompt builder configuration document capture async job",
        "description": "This endpoint gives back the current status of the prompt builder configuration document capture async job.",
        "operationId": "document-capturing-prompt-builder-configuration-async-job-status",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the prompt builder configuration.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The slug of the prompt builder configuration."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "Remove or cancel the prompt builder configuration document capture async job",
        "description": "This endpoint deletes the prompt builder configuration document capture async job results and other related documents from our servers. It will also cancel the job if it still needs to be processed and is waiting in the queue",
        "operationId": "document-capturing-prompt-builder-configuration-async-job-delete",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the prompt builder configuration.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The slug of the prompt builder configuration."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccess"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/prompt_builder/configurations/{slug}/async/{job_id}/logs": {
      "get": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "Get logs of the prompt builder configuration document capture async job",
        "description": "This endpoint will return a list of logs we gathered from the prompt builder configuration document capture async job. It will mostly contain status changes and information on errors to debug on the client side or to be passed along to support",
        "operationId": "document-capturing-prompt-builder-configuration-async-job-logs",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the prompt builder configuration.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The slug of the prompt builder configuration."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter will set the maximum amount of items returned in a request.",
            "schema": {
              "type": "integer",
              "description": "This parameter will set the maximum amount of items returned in a request.",
              "format": "int32",
              "default": 25,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
            "schema": {
              "type": "integer",
              "description": "With this parameter you can set the offset at which the items will begin. This can be helpful for paginating the items if there are too many.",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobLogResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/prompt_builder/configurations/{slug}/async/{job_id}/result": {
      "get": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "Get results of the prompt builder configuration document capture async job",
        "description": "This endpoint returns the results of the prompt builder configuration document capture async job.",
        "operationId": "document-capturing-prompt-builder-configuration-async-job-result",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The Job ID that was given back on the initial request to the async capturing endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Job ID that was given back on the initial request to the async capturing endpoint."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the prompt builder configuration.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The slug of the prompt builder configuration."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt_builderResponse"
                }
              }
            }
          },
          "400": {
            "description": "On input validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100002,
                  "errormessage": "unsupported Content-Type",
                  "requestid": "1235"
                }
              }
            }
          },
          "401": {
            "description": "On unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100003,
                  "errormessage": "API key invalid or no API key provided",
                  "requestid": "1235"
                }
              }
            }
          },
          "500": {
            "description": "On internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSerializableError"
                },
                "example": {
                  "result": "error",
                  "errorcode": 100001,
                  "errormessage": "Request to the Document Capture failed",
                  "requestid": "1235"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_capturing/v1/prompt_builder/configurations/{slug}/schema": {
      "get": {
        "tags": [
          "Prompt Builder Document Capturing API"
        ],
        "summary": "Get the JSON schema of a prompt builder configuration",
        "description": "Get the JSON schema of given slug on a prompt builder configuration.",
        "operationId": "document-capturing-prompt-builder-configuration-schema",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the prompt builder configuration.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The slug of the prompt builder configuration."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt_builder_captureSchemaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_toolkit/v1/info": {
      "post": {
        "tags": [
          "Document Toolkit API"
        ],
        "summary": "Info",
        "description": "Retrieve information about a document. Currently, this endpoint only supports PDF and TIFF documents.",
        "operationId": "document-toolkit-info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Toolkit-InfoInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document_toolkitInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_toolkit/v1/merge": {
      "post": {
        "tags": [
          "Document Toolkit API"
        ],
        "summary": "Merge",
        "description": "Merge multiple documents into a single document. Currently, this endpoint only supports PDF documents.",
        "operationId": "document-toolkit-merge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Toolkit-MergeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document_toolkitMergeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_toolkit/v1/render": {
      "post": {
        "tags": [
          "Document Toolkit API"
        ],
        "summary": "Render",
        "description": "Render a document into one or multiple images. Currently, this endpoint only supports PDF documents.",
        "operationId": "document-toolkit-render",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Toolkit-RenderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document_toolkitRenderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/document_toolkit/v1/split": {
      "post": {
        "tags": [
          "Document Toolkit API"
        ],
        "summary": "Split",
        "description": "Split a document into multiple files or extract specific pages from a document. Currently, this endpoint only supports PDF documents.",
        "operationId": "document-toolkit-split",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document-Toolkit-SplitInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document_toolkitSplitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/storage/v1/files": {
      "post": {
        "tags": [
          "Storage API"
        ],
        "summary": "Create",
        "description": "Create a new file.",
        "operationId": "storage-file-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Storage-File-CreateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/storage/v1/files/{file_id}": {
      "get": {
        "tags": [
          "Storage API"
        ],
        "summary": "Get",
        "description": "Get a file. The file is returned as raw binary",
        "operationId": "storage-file-get",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The ID of the requested file.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the requested file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AsyncJobIDResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AsyncReturnJobID"
          },
          "request_id": {
            "type": "string",
            "description": "A request ID for support and debugging purposes."
          },
          "result": {
            "type": "string",
            "description": "Whether the call was successful.",
            "enum": [
              "success",
              "error"
            ]
          }
        },
        "required": [
          "data",
          "data",
          "request_id",
          "result"
        ]
      },
      "AsyncJobListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SharedJobs"
          },
          "request_id": {
            "type": "string",
            "description": "A request ID for support and debugging purposes."
          },
          "result": {
            "type": "string",
            "description": "Whether the call was successful.",
            "enum": [
              "success",
              "error"
            ]
          }
        },
        "required": [
          "data",
          "data",
          "request_id",
          "result"
        ]
      },
      "AsyncJobLogResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SharedLogs"
          },
          "request_id": {
            "type": "string",
            "description": "A request ID for support and debugging purposes."
          },
          "result": {
            "type": "string",
            "description": "Whether the call was successful.",
            "enum": [
              "success",
              "error"
            ]
          }
        },
        "required": [
          "data",
          "data",
          "request_id",
          "result"
        ]
      },
      "AsyncJobStatusResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SharedReturnJobStatus"
          },
          "request_id": {
            "type": "string",
            "description": "A request ID for support and debugging purposes."
          },
          "result": {
            "type": "string",
            "description": "Whether the call was successful.",
            "enum": [
              "success",
              "error"
            ]
          }
        },
        "required": [
          "data",
          "data",
          "request_id",
          "result"
        ]
      },
      "AsyncReturnJobID": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "The ID that the created job can be tracked with."
          }
        },
        "description": "The JobID created for the submited documents.",
        "required": [
          "job_id"
        ]
      },
      "AuthAuthInfoCredential": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "AuthAuthInfoOrganization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "AuthAuthInfoProject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "AuthAuthInfoResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AuthAuthInfoResponseData"
          },
          "request_id": {
            "type": "string",
            "description": "A request ID for support and debugging purposes."
          },
          "result": {
            "type": "string",
            "description": "Whether the call was successful.",
            "enum": [
              "success",
              "error"
            ]
          }
        },
        "required": [
          "data",
          "data",
          "request_id",
          "result"
        ]
      },
      "AuthAuthInfoResponseData": {
        "type": "object",
        "properties": {
          "credential": {
            "$ref": "#/components/schemas/AuthAuthInfoCredential"
          },
          "enabled_services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthEnabledService"
            }
          },
          "organization": {
            "$ref": "#/components/schemas/AuthAuthInfoOrganization"
          },
          "project": {
            "$ref": "#/components/schemas/AuthAuthInfoProject"
          },
          "service_user": {
            "$ref": "#/components/schemas/AuthAuthInfoServiceUser"
          }
        },
        "description": "Information about the currently used key.",
        "required": [
          "credential",
          "enabled_services",
          "organization",
          "project",
          "service_user"
        ]
      },
      "AuthAuthInfoServiceUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "AuthEnabledService": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          }
        },
        "required": [
          "service"
        ]
      },
      "Document-Capturing-Financial-AsyncInput": {
        "type": "object",
        "properties": {
          "components": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Financial_inputComponentConfigurationInput"
              }
            ],
            "nullable": true
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Generic_document_inputDocument"
            },
            "description": "A list of documents to process."
          },
          "hitl": {
            "allOf": [
              {
                "$ref": "#/components/schemas/HitlHitlConfig"
              }
            ],
            "nullable": true
          },
          "preset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Generic_document_inputInputPreset"
              }
            ],
            "nullable": true
          },
          "webhook": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Webhooks_configWebhookConfig"
              }
            ],
            "nullable": true
          }
        },
        "required": [
          "components",
          "documents",
          "hitl",
          "preset",
          "webhook"
        ]
      },
      "Document-Capturing-FinancialInput": {
        "type": "object",
        "properties": {
          "components": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Financial_inputComponentConfigurationInput"
              }
            ],
            "nullable": true
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Generic_document_inputDocument"
            },
            "description": "A list of documents to process."
          },
          "preset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Generic_document_inputInputPreset"
              }
            ],
            "nullable": true
          }
        },
        "required": [
          "components",
          "documents",
          "preset"
        ]
      },
      "Document-Capturing-Generic-AsyncInput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Generic_document_inputDocument"
            },
            "description": "A list of documents to process."
          },
          "webhook": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Webhooks_configWebhookConfig"
              }
            ],
            "nullable": true
          }
        },
        "required": [
          "documents",
          "webhook"
        ]
      },
      "Document-Capturing-Generic-XlsxInput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Generic_document_inputDocument"
            },
            "description": "A list of documents to process."
          },
          "output_target": {
            "type": "string",
            "description": "How to output the result file.",
            "enum": [
              "Base64",
              "StorageAPI"
            ]
          }
        },
        "required": [
          "documents",
          "output_target"
        ]
      },
      "Document-Capturing-GenericInput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Generic_document_inputDocument"
            },
            "description": "A list of documents to process."
          }
        },
        "required": [
          "documents"
        ]
      },
      "Document-Capturing-Prompt-Builder-Configuration-AsyncInput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Generic_document_inputDocument"
            },
            "description": "A list of documents to capture."
          },
          "hitl": {
            "allOf": [
              {
                "$ref": "#/components/schemas/HitlHitlConfig"
              }
            ],
            "nullable": true
          },
          "webhook": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Webhooks_configWebhookConfig"
              }
            ],
            "nullable": true
          }
        },
        "required": [
          "documents",
          "hitl",
          "webhook"
        ]
      },
      "Document-Capturing-Prompt-Builder-Configuration-CaptureInput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Generic_document_inputDocument"
            },
            "description": "A list of documents to capture."
          }
        },
        "required": [
          "documents"
        ]
      },
      "Document-Toolkit-InfoInput": {
        "type": "object",
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document_toolkitInfoInputDocument"
          }
        },
        "required": [
          "document"
        ]
      },
      "Document-Toolkit-MergeInput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document_toolkitMergeInputDocument"
            },
            "description": "The documents to merge."
          },
          "output_target": {
            "type": "string",
            "description": "How to output the result file.",
            "enum": [
              "Base64",
              "StorageAPI"
            ]
          }
        },
        "required": [
          "documents",
          "output_target"
        ]
      },
      "Document-Toolkit-RenderInput": {
        "type": "object",
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document_toolkitRenderInputDocument"
          },
          "output_target": {
            "type": "string",
            "description": "Where to output the result files.",
            "enum": [
              "Base64",
              "StorageAPI"
            ]
          },
          "renders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document_toolkitRenderInputDocumentRenders"
            },
            "description": "The render configurations."
          }
        },
        "required": [
          "document",
          "output_target",
          "renders"
        ]
      },
      "Document-Toolkit-SplitInput": {
        "type": "object",
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document_toolkitSplitInputDocument"
          },
          "output_target": {
            "type": "string",
            "description": "Where to output the result file.",
            "enum": [
              "Base64",
              "StorageAPI"
            ]
          },
          "page_ranges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The page ranges to split, giving multiple ranges will result in multiple files. Ranges are like '1-3,5', which will result in a PDF file with pages 1, 2, 3 and 5. You can use the keywords first and last. You can prepend a page number to start counting from the end. Examples: use '2-last' for the second page until the last page, use '3-r1' for page 3 until the second-last page. Invalid page numbers will be skipped. If not given, every page will become a separate PDF."
          }
        },
        "required": [
          "document",
          "output_target",
          "page_ranges"
        ]
      },
      "Document_capturingComponent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "options": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "name",
          "options"
        ]
      },
      "Document_capturingListEnabledModelsModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "service"
        ]
      },
[...]
